.cardGridWrapper {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 333px;
  display: flex;
  flex-direction: column;
  background-color: hsl(177, 100%, 13%);

}
.cardGridContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: hsl(177, 100%, 13%);

}
